@font-face {
  font-family: text;
  src: url("../fonts/HYRunYuan-75W.ttf");
}

@font-face {
  font-family: title;
  src: url("../fonts/字魂白鸽天行体(商用需授权).TTF");
}

@font-face {
  font-family: head;
  src: url("../fonts/hk4e_zh-cn.ttf");
}

@font-face {
  font-family: headder;
  src: url("../fonts/华文细黑.TTF");
}

body {
  font-family: "text", sans-serif;
  line-height: 1.5;
  font-size: 24px;
  margin-top: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  background: url(../img/background.png) no-repeat center center fixed;
  background-size: cover;
}

sup {
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
}

iframe {
  border: none;
  margin: 0 auto;
  height: 500px;
}

.align-center {
  vertical-align: middle;
}

.blue {
  color: #1e90ff;
}

.center-iframe {
  display: block;
  float: none;
  width: 80%;
  height: 500px;
  margin: 0 auto;
}

.content {
  margin: 13px;
  text-indent: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

.footnote {
  font-family: head;
  text-indent: 0em;
  font-size: 16px;
}

.image-container {
  text-align: center;
  margin: 20px 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: underline;
  color: #008b8b;
}

.no-underline {
  text-decoration: none;
}

.spinner {
  margin: 100px auto;
  width: 21px;
  height: 21px;
  position: relative;
}

.split-line {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.stressed {
  font-weight: bold;
  font-size: 27px;
}

.title {
  font-size: 48px;
  font-family: "title";
  text-align: center;
  color: red;
}

.overall-title {
  font-size: 72px;
}

.red {
  color: red;
}

#end {
  font-size: 48px;
  font-family: "title";
  text-align: center;
  color: #1e90ff;
}

#factors {
  display: block;
  float: none;
  border: none;
  height: 600px;
  width: 100%;
}

#header {
  color: red;
  font-family: "head";
  font-style: italic;
}
