body {
  font-family: "text", sans-serif;
  line-height: 1.5;
  font-size: 36px;
  margin-top: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  background: url(../img/background.png) no-repeat center center fixed;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

iframe {
  border: none;
  margin: auto;
  height: 600px;
}

sup {
  font-size: 18px;
}

.align-center {
  vertical-align: middle;
}

.blue {
  color: #1e90ff;
}

.center-iframe {
  display: block;
  float: none;
  width: 900px;
  height: 600px;
  margin: 0 auto;
}

.content {
  margin: 20px;
  text-indent: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

.footnote {
  font-family: head;
  text-indent: 0em;
  font-size: 24px;
}

.image-container {
  text-align: center;
  margin: 20px 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: underline;
  color: #008b8b;
}

.no-underline {
  text-decoration: none;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.split-line {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.stressed {
  font-weight: bold;
  font-size: 40px;
}

.title {
  font-size: 72px;
  font-family: "title";
  text-align: center;
  color: red;
}

.overall-title {
  font-size: 108px;
}

.red {
  color: red;
}

#end {
  font-size: 72px;
  font-family: "title";
  text-align: center;
  color: #1e90ff;
}

#factors {
  display: block;
  float: none;
  border: none;
  height: 600px;
  width: 1150px;
}

#header {
  color: red;
  font-family: "head";
  font-style: italic;
}
